@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Noto+Sans+Mono:wght@500&family=Open+Sans&family=Poppins&family=Roboto:wght@300;500&family=Sevillana&display=swap');

.tituloApiDePokemon{
    font-size: 40px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    margin-top: 50px;
    transition:  0.8s all ease-in-out;
}

.tituloApiDePokemon:hover{
    color: #d2404f;
    border-bottom: 3px solid #EBB209
}

.contenedorCard{
    width: 65%;
    margin-top: 50px;
    margin-left: 18rem;
    margin-bottom: 50px;
    transition: 0.8s all ease-in-out;
}

.contenedorCard:hover{
    color: white;
    background:#4BB4D5;
}

.contenedorDeImagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid white;
    box-shadow: 25px 25px 50px black;
}

.imagenPokemon{
    border-radius: 50%;
    width: 350px;
    background-color: rgb(233, 13, 13);
    border: 6px solid #EAF640;
    box-shadow: 25px 25px 50px #EAF640;
    transition:  0.8s all ease-in-out;
}

.imagenPokemon:hover{
    background-color: transparent;
    transform: translate(20px, 10px);
}

.contenidoStat{
    width: 100%;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.namePokemon{
   font-family: 'IBM Plex Mono', monospace;
   font-size: 35px;
   margin-bottom: 10px;
   width: 150px;
   transition: 0.8s all ease-in-out;
}
.namePokemon:hover{
    color: #6a8df6;
    text-shadow: 1px 2px 3px black;
    border-bottom: 3px solid #EBB209
}

.numberPokemon{
   font-size: 26px;
   margin-bottom: 10px;
   width: 150px;
   transition: 0.8s all ease-in-out;
}

.numberPokemon:hover{
    color: #6a8df6;
    text-shadow: 1px 2px 3px black;
    border-bottom: 3px solid #EBB209
}

.baseDeExperiencia{
    font-size: 26px;
    margin-bottom: 10px;
    width: 200px;
    transition: 0.8s all ease-in-out;
}

.baseDeExperiencia:hover{
    color: #6a8df6;
    text-shadow: 1px 2px 3px black;
    border-bottom: 3px solid #EBB209
}

.pesoPokemon{
    font-size: 26px;
    margin-bottom: 10px;
    width: 150px;
    transition: 0.8s all ease-in-out;
}

.pesoPokemon:hover{
    color: #6a8df6;
    text-shadow: 1px 2px 3px black;
    border-bottom: 3px solid #EBB209
}

.hpPokemon{
    font-size: 26px;
    margin-bottom: 10px;
    width: 150px;
    transition: 0.8s all ease-in-out;
}

.hpPokemon:hover{
    color: #6a8df6;
    text-shadow: 1px 2px 3px black;
    border-bottom: 3px solid #EBB209
}

.ataquePokemon{
    font-size: 26px;
    margin-bottom: 10px;
    width: 150px;
    transition: 0.8s all ease-in-out;
}

.ataquePokemon:hover{
    color: #6a8df6;
    text-shadow: 1px 2px 3px black;
    border-bottom: 3px solid #EBB209
}

.defensaPokemon{
    font-size: 26px;
    margin-bottom: 10px;
    width: 150px;
    transition: 0.8s all ease-in-out;
}

.defensaPokemon:hover{
    color: #6a8df6;
    text-shadow: 1px 2px 3px black;
    border-bottom: 3px solid #EBB209
}

.specialAttackPokemon{
    font-size: 26px;
    margin-bottom: 10px;
    width: 250px;
    transition: 0.8s all ease-in-out;
}

.specialAttackPokemon:hover{
    color: #6a8df6;
    text-shadow: 1px 2px 3px black;
    border-bottom: 3px solid #EBB209
}

.specialDefensePokemon{
    font-size: 26px;
    margin-bottom: 10px;
    width: 250px;
    transition: 0.8s all ease-in-out;
}

.specialDefensePokemon:hover{
    color: #6a8df6;
    text-shadow: 1px 2px 3px black;
    border-bottom: 3px solid #EBB209
}

.speedPokemon{
    font-size: 26px;
    margin-bottom: 5px;
    width: 250px;
    transition: 0.8s all ease-in-out;
}

.speedPokemon:hover{
    color: #6a8df6;
    text-shadow: 1px 2px 3px black;
    border-bottom: 3px solid #EBB209
}

.progressBarPokemonOne, .progressBarPokemonTwo,.progressBarPokemonThree, .progressBarPokemonFour, .progressBarPokemonFive, .progressBarPokemonSix, .progressBarPokemonSeven, .progressBarPokemonEight {
    background: rgb(37,40,80);
    background: linear-gradient(194deg, rgba(37,40,80,1) 11%, rgba(1,165,177,1) 28%, rgba(1,165,177,1) 65%, rgba(37,40,80,1) 89%);
    border: 2px solid white;
    border-radius: 20px;
    text-indent: -666em;
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    height: 25px;
    transition: 3s all ease-in-out;
}

.progressBarContenedor{
    width: 400px;
    border: 2px solid black;
    border-radius: 20px;
    transition: 1s all ease-in-out;
}

.botonDeReinicio{
    display: flex;
    margin: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color: #891E28;
    color: white;
    padding: 13px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    border: 3px solid black;
    transition:  0.8s all ease-in-out;
}

.botonDeReinicio:hover{
    background-color: #003CF5;
}

.inputLlamadPokemon{
    display: flex;
    margin: 0 auto;
    width: 400px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 20px;
    border-bottom: 3px solid black;
    box-shadow: 10px 10px 20px #EBB209;
    text-align: center;
    font-size: 18px;
    font-family: IBM Plex Mono', monospace';
    color: black;
}

.inputLlamadPokemon:hover{
    border: 3px solid #891E28;
}

@media screen and (max-width: 600px){

    .tituloApiDePokemon{
        font-size: 30px;
        margin-top: 50px;
        transition:  0.8s all ease-in-out;
    }

    .contenedorCard{
        width: 90%;
        margin-top: 50px;
        margin-left: 1rem;
        margin-bottom: 50px;
        transition: 0.8s all ease-in-out;
    }
    
    .contenedorDeImagen{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 2px solid white;
        box-shadow: 25px 25px 50px black;
    }
    
    .imagenPokemon{
        border-radius: 50%;
        width: 150px;
        background-color: #c54350;
        border: 6px solid #EAF640;
        box-shadow: 25px 25px 50px #EAF640;
        transform: translate(30px, 10px);
    }

    .contenidoStat{
        width: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .namePokemon{
       font-family: 'IBM Plex Mono', monospace;
       font-size: 25px;
       margin-bottom: 10px;
       width: 150px;
       transition: 0.8s all ease-in-out;
    }
  
    
    .numberPokemon{
       font-size: 18px;
       margin-bottom: 10px;
       width: 150px;
       transition: 0.8s all ease-in-out;
    }
    
    .baseDeExperiencia{
        font-size: 16px;
        margin-bottom: 10px;
        width: 200px;
        transition: 0.8s all ease-in-out;
    }

    .pesoPokemon{
        font-size: 16px;
        margin-bottom: 10px;
        width: 150px;
        transition: 0.8s all ease-in-out;
    }
    
    .hpPokemon{
        font-size: 16px;
        margin-bottom: 10px;
        width: 150px;
        transition: 0.8s all ease-in-out;
    }
    
    .ataquePokemon{
        font-size: 16px;
        margin-bottom: 10px;
        width: 150px;
        transition: 0.8s all ease-in-out;
    }
 
    .defensaPokemon{
        font-size: 16px;
        margin-bottom: 10px;
        width: 150px;
        transition: 0.8s all ease-in-out;
    }

    .specialAttackPokemon{
        font-size: 16px;
        margin-bottom: 10px;
        width: 250px;
        transition: 0.8s all ease-in-out;
    }

    .specialDefensePokemon{
        font-size: 16px;
        margin-bottom: 10px;
        width: 250px;
        transition: 0.8s all ease-in-out;
    }

    .speedPokemon{
        font-size: 16px;
        margin-bottom: 5px;
        width: 150px;
        transition: 0.8s all ease-in-out;
    }
   
    .progressBarPokemonOne, .progressBarPokemonTwo,.progressBarPokemonThree, .progressBarPokemonFour, .progressBarPokemonFive, .progressBarPokemonSix, .progressBarPokemonSeven, .progressBarPokemonEight {
        background: rgb(37,40,80);
        background: linear-gradient(194deg, rgba(37,40,80,1) 11%, rgba(1,165,177,1) 28%, rgba(1,165,177,1) 65%, rgba(37,40,80,1) 89%);
        border: 2px solid white;
        border-radius: 20px;
        text-indent: -666em;
        overflow: hidden;
        max-width: 180px;
        width: 100%;
        height: 10px;
        transition: 3s all ease-in-out;
    }
    
    .progressBarContenedor{
        width: 185px;
        border: 2px solid #808080;
        border-radius: 20px;
        transition: 1s all ease-in-out;
    }

    .botonDeReinicio{
        font-size: 16px;
        padding: 7px;
        border-radius: 10px;
    }
    
    .inputLlamadPokemon{
        width: 300px;
        text-align: center;
        font-size: 16px;
        color: black;
    }
}